.aping-profile {

    .profile-row {
        padding: $offset;
        margin: 0;
        text-align: center;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

}