<div class="aping-profile">

    <div class="block-grid-xs-2 block-grid-sm-2 block-grid-md-4">
        <div ng-repeat="item in results[0]" class="profile-row">
            <a ng-href="{{item.url}}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-stack-1x" ng-class="item.class"></i>
                </span>
                <strong>{{item.platform}}</strong>
            </a>

        </div>
    </div>


    <div class="row">
        <div ng-if="results[0].github" class="col-sm-7">
            <br><br>
            <h2>Top GitHub Projects</h2>
            <aping
                    template-url="templates/repo.html"
                    model="repo"
                    items="100"
                    order-by="stargazers"
                    order-reverse="true"
                    result-name="githubResults"
                    aping-github="[{'user':'{{results[0].github.name}}'}]">
            </aping>
        </div>

        <div ng-if="results[0].github" class="col-sm-5">
            <br><br>
            <h2>Latest GitHub Activity</h2>
            <aping
                    template-url="templates/rss.html"
                    model="social"
                    items="9"
                    result-name="rssResults"
                    aping-rss="[{'path':'https://github.com/{{results[0].github.name}}.atom'}]">
            </aping>
        </div>
    </div>


    <div ng-if="results[0].twitter">
        <br><br>
        <h2>Latest Tweets</h2>
        <aping
                template-url="templates/social.html"
                model="social"
                items="25"
                result-name="twitterResults"
                aping-codebird="[{'user':'{{results[0].twitter.name}}', 'showAvatar':'no', 'exclude_replies':true}]">
            <pre>{{twitterResults | json}}</pre>
        </aping>
    </div>

</div>