<div class="repo">
    <div ng-repeat="item in outerResults" class="box">
        <h3 class="offset-bottom">
            <a ng-href="{{item.url}}" target="_blank">
                {{item.name}}
            </a>
            <span ng-if="{{item.isFork}}">Fork</span>
        </h3>
        <p ng-show="item.description" class="offset-bottom">
            {{item.description}}
        </p>
        <p class="text-muted">
            Stars: {{item.stargazers | number}} &nbsp; Forks: {{item.forks | number}}
        </p>
    </div>
</div>